<!--<div class="container mt-5">-->
<!--  <h1 class="mb-4">Genres</h1>-->
<!--  <% if @genres.any? %>-->
<!--    <ul class="list-group">-->
<!--      <% @genres.each do |genre| %>-->
<!--        <li class="list-group-item">-->
<!--          <%= link_to genre.name, genre_path(genre), class: 'text-decoration-none' %>-->
<!--        </li>-->
<!--      <% end %>-->
<!--    </ul>-->
<!--  <% else %>-->
<!--    <p class="text-muted">No genres found</p>-->
<!--  <% end %>-->
<!--</div>-->